# VS Code Settings
.vscode/

# macOS system files
.DS_Store

# not used
piwigoPublish.lrplugin/icons/piwigoPublish_1_0-assets/
piwigoPublish.lrplugin/icons/piwigoPublish_1_5-assets/
piwigoPublish.lrplugin/icons/piwigoPublish_2_0-assets/
piwigoPublish.lrplugin/icons/piwigoPublish_1_0.psd
piwigoPublish.lrplugin/icons/*psd
piwigoPublish.lrplugin/lrcUtils.lua 
piwigoPublish.lrplugin/PiwigoHelper.lua 

# Other files
cat layout.odt
deploy.sh
diagnostic.txt
copilot-instructions.md

# i18n
Localize_plugin.py